html, body, #map {
	height: 100%;
}

body {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

h1 {
	font-weight: bold;
	font-size: 110%;
	margin: 0;
}

#map { 
	margin-right: 12.3em;
	overflow: hidden;
}

#panel {
	position: absolute;
	top: 0;
	right: 0;
	width: 12em;
	padding: 0.1em;
}

#panel img {
	margin-right: 3px;
}

.panelpart {
	margin-left: 5px;
	padding-left: 7px;
	display: none;
	border-left: 1px dotted black;
}

#nodeinfo p {
	margin: 0;
	padding-top: 1ex;
}

#nodeinfo div {
	margin: 0;
	margin-left: 0.4em;
	font-style: italic;
	font-size: 90%;
}

.MarkerLabel {
	background-color: black;
	color: white;
	padding-left: 1px;
	padding-right: 1px;
	font-family: arial, sans-serif;
	font-size: 11px;
}

.error {
	background-color: #FF8080;
}
