html, body, #map {
	height: 100%;
	overflow: hidden;
}

body, form {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

body {
	font-family: sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 115%;
	text-align: center;
	margin: 0;
	clear: both;
}

#map { 
	margin-right: 13.3em;
}

#panel {
	position: absolute;
	top: 0;
	right: 0;
	width: 13em;
	padding: 0.1em;
	height: 100%;
	overflow: auto;
}

#panel img {
	margin-right: 3px;
}

#panel p {
	margin: 0;
	padding-top: 1ex;
}

#panel .panelpart {
	margin-left: 5px;
	padding-left: 7px;
	display: none;
	border-left: 1px dotted black;
}

#panel .tab_label {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

#panel .active_tab_label {
	font-weight: bold;
}

#panel .tab_block {
	display: none;
}

#panel .hidden {
	display: none;
}

#panel .click {
	text-decoration: underline;
	cursor: pointer;
}

#panel .expand {
	font-style: italic;
}

#panel button {
	margin-left: 0.2em;
	margin-right: 0.2em;
}

#panel .subtitle {
	text-align: center;
	margin-bottom: 0.5ex;
}

#panel .square {
	width: 2ex;
	height: 2ex;
	border: 1px solid black;
}

#panel .note {
	font-style: italic;
	font-size: 90%;
	text-align: justify;
	margin-right: 0.3em;
}

#userinfo {
	float: right;
	font-size: 90%;
	font-style: italic;
}

#nodeinfo .text {
	margin: 0;
	margin-left: 0.4em;
	font-style: italic;
	font-size: 90%;
}

#linkinfo td {
	margin: 0;
	padding: 0;
	padding-left: 0.2em;
}

#linkinfo .peerinfo {
	float: left;
	font-size: 90%;
	margin-left: 0;
}

#linkinfo .linkinfo {
	float: right;
	font-size: 90%;
	margin-left: 0.5em;
	white-space: nowrap;
}

#linkinfo .clear {
	clear: both;
}

#linkinfo .backbone {
	font-weight: bold;
}

#linkinfo .planned {
	color: gray;
}

#linkinfo .added {
	background-color: yellow;
	text-decoration: underline;
}

#linkinfo .deleted {
	text-decoration: line-through;
}

#linkinfo .linkedit {
	margin-left: 7px;
	padding-left: 10px;
	border-left: 1px dotted black;
}

#linkinfo .nominal {
	color: DarkRed;
}

#linkinfo .real {
	color: DarkBlue;
}

#linkinfo .czfree {
	color: DarkGreen;
}

.label {
	background-color: black;
	color: white;
	padding-left: 1px;
	padding-right: 1px;
	font-family: arial, sans-serif;
	font-size: 11px;
	white-space: nowrap;
}

.error {
	background-color: #FF8080;
}

.clear {
	clear: both;
}
