html, body, #map {
	height: 100%;
	overflow: hidden;
}

body {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

h1 {
	font-weight: bold;
	font-size: 115%;
	text-align: center;
	margin: 0;
	margin-bottom: 0.5ex;
}

#map { 
	margin-right: 13.3em;
}

#panel {
	position: absolute;
	top: 0;
	right: 0;
	width: 13em;
	padding: 0.1em;
	height: 100%;
	overflow: auto;
}

#panel img {
	margin-right: 3px;
}

#panel .panelpart {
	margin-left: 5px;
	padding-left: 7px;
	display: none;
	border-left: 1px dotted black;
}

#nodeinfo p {
	margin: 0;
	padding-top: 1ex;
}

#nodeinfo div {
	margin: 0;
	margin-left: 0.4em;
	font-style: italic;
	font-size: 90%;
}

#nodeinfo td {
	font-size: 90%;
}

#nodeinfo span[onclick] {
	text-decoration: underline;
	cursor: pointer;
}

#nodeinfo .peerinfo {
	float: left;
	font-style: normal;
	margin-left: 0;
	clear: both;
}

#nodeinfo .linkinfo {
	float: right;
	font-style: normal;
	margin-left: 0.5em;
}

#nodeinfo .backbone {
	font-weight: bold;
}

#nodeinfo .planned {
	color: gray;
}

.MarkerLabel {
	background-color: black;
	color: white;
	padding-left: 1px;
	padding-right: 1px;
	font-family: arial, sans-serif;
	font-size: 11px;
}

.error {
	background-color: #FF8080;
}

.clear {
	clear: both;
}
