<?php

class Config
{
        public static $gmapKeys = array(
                "mapa.example.cz" => "abced",
        );

        public static $usersDB = array(
                'dsn'   => 'mysql:dbname=lms',
                'user'  => 'sql',
                'pass'  => 'sql',
                'init' => 'SET NAMES utf8',
        );

        public static $mapDB = array(
                'dsn'   => 'pgsql:dbname=czfmapa',
                'user'  => 'mapa',
                'pass'  => 'mapa',
                'init' => 'SET NAMES utf8',
        );

        public static $profilePrefix = "http://www.czfree.net/forum/member.php?action=getinfo&userid=";
        public static $robotURL = "http://czfree.net/forum/showthread.php?postid=223095#post223095";
	public static $galleryPrefix = "http://panorama.spoje.net/?dir=AP/";
        public static $dokuwikiPrefix = "https://wiki.spoje.net/doku.php/firma/network/ap/";
        public static $dokuwikiLogin = "u=user&p=password";

        public static $mailFrom = "mapa@czfree.net";

        public static $languages = array("cs", "en-us", "en");
}

